.alert-report-modal {
  &__body {
    height: 300px;
    overflow: scroll;
    border: none;
    margin-top: 0;
  }
}

.report-toggle {
  font-size: 18px;
  margin-top: 10px
}

.te-label {
  margin-top: 5px;
}

.te-report-title {
  margin: 0;
}
